@model devops_demo.Web.Models.GreetingViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Message</p>

    <p>You are <b>@Model.Count</b>th visitor</p>

</div>
